
.fs-custom {
	font-size: 24px;
}
.ms-custom {
	margin-left: 40px;
}
.icon-50 {
	font-size: 24px;
}
.ms-custom-card {
	margin-right: 50px;
}

.btn-custom {
	font-size: 13px;
	padding: 5px 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.btn-custom-danger {
	font-size: 13px;
	padding: 5px 14px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.btn-custom-deli {
	font-size: 13px;
	padding: 5px 8px;
	border-radius: 10px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
